*{
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}
.banner{
    width: 100%;
    height: 90vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url("./resours/images/donation1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.banner div h1{
    font-size: 98px;
    color:rgb(0, 247, 255);
    text-align: center;
    /* width: 665px; */
    /* padding: 25px; */
}
.banner div p{
    font-size: 25px;
    text-align: center;
    width: 665px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 25px;
    color: white;
}
.banner div button{
    padding: 15px;
    font-size: 20px;
    background-color: brown; 
    margin-top: 10px;
    border: none; 
  color: white;
  margin-left: -63px;
}
.button{
    text-align: center;
}
.banner div{
    /* border: 1px solid green; */
    
}



/* donate-today-section */
.donate-today-section{
    width: 100%;
    height: 65vh;
    /* border: 1px solid red; */
    margin-top: 25px;
    
}
.today-up h1{
    font-size: 46px;
    text-align: center;
    padding: 30px;
}
.today-up p{
    font-size: 26px;
    text-align: center;
    width: 712px;
    text-align: center;
  
   display: flex;
   justify-content: center;
   align-items: center;
}
.p-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  padding: 25px;
  gap: 10px;
    
}
.box-div div{

   
    /* border: 1px solid red; */
    height: 78px;
    width: 97px;
    border-radius: 10px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.box-div p{
    font-size: 33px;
}
.today-down .button{
    padding: 5px;
    font-size: 20px;
    /* background-color: brown; */
    margin-top: 10px;
    border: none;
    color: white;
}
.today-down p{
    text-align: center;
    font-size: 15px;
    font-size: 24px;
    padding: 14px;
    color: #B3B3B3;
}
.today-down button{
    font-size: 25px;
    background: #FF5959;
    border: none;
    padding: 7px;
}


/* our donate plan section */
.our-donste-plan-section{
    width: 100%;
    height: 65vh;
    margin-top: 35px;    
    background-color:#743a8818;
}

.donate-plan-intro{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid blue; */
}
.donate-plan-intro h1{
font-size: 35px;
text-align: center;
padding: 32px;
/* border: 1px solid red; */

}
.donate-plan-intro p{
font-size: 25px;
text-align: center;
max-width: 250px;
/* border: 1px solid red; */

}
.donate-plan-intro div p{
    max-width: 692px;
    margin-top: -6px;
    /* border: 1px solid blue; */
}
.donate-plan-div-father{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 1px solid red; */
}
.donate-plan-div-father div{
    /* border: 1px solid red; */
    height: 303px;
    width: 289px;
    padding: 15px;
    margin-top: 71px;
}
.donate-plan-div-father h1{
    font-size: 32px;
}
.donate-plan-div-father p{
    font-size: 22px;
    margin-top: 16px;
}
.plan-div-1{
    background: rgba(79, 157, 166, 0.1);
border-radius: 5px;
}
.plan-div-2{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.plan-div-3{
    background: #fff4d6;
border-radius: 5px;
}
.donate-plan-div-father img{
    margin-bottom: 10px;
}





/* photo section  */


.photo-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 10px;
}
.photo-section-1 div{
/* border: 1px solid red; */
}
.photo-section-1 div h1{
    font-size: 66px;
    padding: 15px;
}
.photo-section-1 div p{
    font-size: 30px;
    padding: 15px;
}
.photo-section-1 div button{
    font-size: 30px;
    padding: 15px;
    background: #FF5959;
border-radius: 5px;
}
.left-photo-part h1{
    margin-right: 37px;
}
.left-photo-part p{
    margin-right: 37px;
}
.left-photo-part button{
    margin-right: 37px;
}
.btn-how{
    margin-left: 17px;
    margin-top: 15px ;
}



/* 2nd photo part */



.down-photo-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 10px;
}
.down-photo-part h1{
    font-size: 66px;
padding: 15px;
}
.down-photo-part p{
    font-size: 30px;
    padding: 15px;
}
.down-photo-part div button{
    font-size: 30px;
    padding: 15px;
    background: #FF5959;
border-radius: 5px;
}
.down-photo-part div img{
    height: 602px;
    width: 787px;
    margin-left: 23px;
   
    margin-right: 74px;
}
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
/* last-section */
.last-section{
    width: 100%;
    height: 45vh;
    background-color: rgba(255, 0, 0, 0.09);
}
.last-section div h1{
    font-size: 40px;
    text-align: center;
    padding: 15px;
}
.last-section div p{
    font-size: 20px;
    text-align: center;
    width: 568px;
    padding: 15px;
}
.last-section-2{
    width: 750px;
   
    border: 1px solid red;
    margin-top: 50px;

}
.last-section-2 div{
    padding: 50px;
    background-color: #FFF4D6;
    text-align: center;
}
.last-section-2 div input{
    font-size: 22px;
    background: #D9D9D9;
    border: none;
    border-color: #D9D9D9;

}
.last-section-2 div button{
    font-size: 22px;
    width: 133px;
color: white;
border: none;
background-color: rgba(0, 0, 255, 0.434);
}


footer{
height: 125px;
background-color: black;

}
footer p{
color: white;
text-align: center;
padding: 8px;
}
footer h1{
color: red;
text-align: center;
padding: 18px;
font-family: cursive;
}